<html ng-app="lesson2">

<head>
    <title>lesson2</title>
    <link href="opsource/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="content/css/default.css" rel="stylesheet" />
    <script src="opsource/angular/angular.js">
    </script>
    </script>
    <script src="app.js"></script>
    <script src="questions.js"></script>
    <script src="controllers/index.js"></script>
</head>

<body>
    <div class="wordsPanel" ng-controller="index">
        <div class="starting">
            <ul class="list-group welcome" ng-if="step==0">
                <li class="list-group-item " ng-click="starting()">
                    英语测试</li>
            </ul>
            <ul class="list-group" ng-if="step==1">

                <li class="list-group-item title">
                    习题{{10-questions.length}}/10</li>
                <li class="list-group-item answer">
                    {{current.question}}</li>
                <li class="list-group-item status">
                    <div class="clearfix">
                        <span class="pull-right">
                        答对{{accuracy}}题</span>
                    </div>
                </li>
                <li class="list-group-item" ng-click="searchAnswer(current.options[0])">
                    1.{{current.options[0]}}</li>
                <li class="list-group-item" ng-click="searchAnswer(current.options[1])">
                    2.{{current.options[1]}}</li>
                <li class="list-group-item" ng-click="searchAnswer(current.options[2])">
                    3.{{current.options[2]}}</li>
                <li class="list-group-item" ng-click="searchAnswer(current.options[3])">
                    4.{{current.options[3]}}</li>
            </ul>
            <ul class="list-group ending" ng-if="step==2">
                <li class="list-group-item ">
                    得分:{{scores}}</li>
            </ul>
        </div>
    </div>
</body>

</html>