body{
    background: url('../images/blackboard.png');
    background-size: 100% 100%;
    color: white;
    font-family: Arial;
}

.title
{
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 0px;
    border-style: solid;
    width: 350px;
    margin-top: 150px;
    margin-left: 40px;
}

.answer{
    border: 0px;
    font-size: 100pt;
    line-height: 400px;
    height: 400px;
    text-align: center;
}

.clearBorder
{
    border-bottom: 0px;
    /* border-top: 0px; */
    border-left: 0px;
    border-right: 0px;
}

.status
{
    border: 0px;
}

.welcome,.ending{
    margin-top: 500px;
}

.welcome li{
    font-size: 100pt;
    font-style: italic;
    text-align: center;
    border: 0px;
    text-shadow: 5px 5px 5px #ccc;
}

.ending li{
    color: red;
    font-size: 100pt;
    font-style: italic;
    text-align: center;
    border: 0px;
    text-shadow: 5px 5px 5px #ccc;
}